{% extends 'partials/base.html.twig' %}

{% block body %}
    <section id="body-wrapper" class="section">

        {% set blocks = (page.header.blocks is null ? [] : page.header.blocks) %}

        {% for block_element in blocks %}
            {% set block_type = block_element | keys | first %}

            <div class="blocks-{{block_type}}">
                
            {% set block_content = block_element[block_type] %}

             {% include 'partials/blocks/' ~ block_type ~ '.html.twig' ignore missing with {content: block_content} %}

            </div>
        {% endfor %}
    </section>
{% endblock %}



